.zero {
	margin-left: 15%;
	width: 70%;
}

.half {
	margin-bottom: 2em;
	margin-top: 2em;
	text-decoration: bold;
}

.two {
	border-top-style: solid;
	border-width: 2px;
}

button.closebutton {
	background-color: rgba(255,255,255,0.0);
	border-width: 0;
}

li {
	list-style-type: none;
	text-align: left;
}
